// bower:scss
// endbower

$bigmac: 1440px;
$break-small: 1000px;
$break-medium: 1200px;
$mobile-width: 768px;

$bgcolor: rgb(249, 250, 251);
$basecolor: #3498db;
$transblue: rgba(52, 152, 219, .2);
$darkbase: #2980b9;
$darkbase-hover: #1b6596;
$textcolor: #8198a3;

$loading-bg: rgba(0,0,0,.8);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hover:hover {cursor: pointer;}

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-family: 'Nunito Sans', sans-serif;
}
.m0 { margin: 0 !important; }
.pm0 {
  @media screen and (max-width: $mobile-width) {
    padding: 0 !important;
  }
}
.pr0 { padding-right: 0 !important; }
.pl0 { padding-left: 0 !important; }
.bb0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.bt0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 0 !important;
  margin-top: 0 !important;
}

.hidden { visibility: hidden !important; }

.loading-cont {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $loading-bg;
  z-index: 9998;
  text-align: center;
  .loading {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    background-color: $basecolor;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    z-index: 9999;
  }
}

.section-cont {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $loading-bg;
  z-index: 9998;
  text-align: center;
}

// --- HEADER ---

.header-container {
  background-color: $basecolor;
  padding: 20px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  .header-l1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
  }
  .header-l2 {
    font-weight: 100;
  }
}

// --- CONTENT ---

.section-header {
  user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -o-user-select: none !important;
  padding: 0;
  border-radius: 5px;
  background-color: $basecolor;
  color: white;
  font-size: 14px;
  height: auto;
  margin-bottom: 15px;
  text-align: left;

  .section-text {
    padding: 10px;
    display: inline-block;
  }
  .section-button {
    float: right;
    border-radius: 5px;
    background-color: $darkbase;
    color: white;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 13px !important;
    i { margin-right: 3px; }
  }
  .section-button.icon-only { i { margin-right: 0px !important; } }
  .section-button:hover {
    cursor: pointer;
    background-color: $darkbase-hover;
  }
  .section-button.active {
    background-color: $darkbase-hover !important;
  }
}

.content-container {
  margin-top: 10px;
  min-height: 350px;
  @media screen and (max-width: $mobile-width) { margin-top: 15px; }
}

.text-edit {
    outline: none !important;
    resize: none !important;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: none !important;
    box-shadow: 0 1px 1px lightgrey;
    color: $textcolor;
    padding: 20px;
    height: 500px !important;
    overflow: scroll;
    margin-bottom: 15px;
    @media screen and (max-width: $mobile-width) {
      height: 400px !important;
    }
  }
  .text-edit-static {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }


.results-container {
  margin-top: 10px;
  min-height: 350px;
  @media screen and (max-width: $mobile-width) { padding: 0; margin-top: 15px; }
}

.mock-box {
  width: 100%;
  border-radius: 5px;
  height: 100px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 15px;
}

.highlight {
  background-color: $transblue;
}

.keyword-box {
  background-color: white !important;
  box-shadow: 0 1px 1px lightgrey;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  ul {
    min-height: 50px;
    padding: 0;
    list-style: none;
    li {
      padding: 10px 20px;
      border-bottom: 1px solid whitesmoke;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

.section-cont {
  .section-copy{
    animation-duration: .1s;
    -moz-animation-duration: .1s;
    -o-animation-duration: .1s;
    -webkit-animation-duration: .1s;
    -ms-animation-duration: .1s;
    .section {
      text-align: left;
      margin: 50px !important;
    }
  }
}

.scale {
  @media screen and (max-width: $mobile-width) { display: none; }
  height: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  .markloc {
    margin-top: -1px;
    color: lightgray;
    font-size: 8px;
    width: 80px;
  }
  i.pull-left { margin-left: -7px; }
  i.pull-right { margin-right: -7px; }
  .markloc.pull-left {
    margin-left: -42px;
    padding-left: 40px;
    text-align: left;
  }
  .markloc.pull-right {
    margin-right: -42px;
    padding-right: 40px;
    text-align: right;
  }
  .markloc:hover {
    font-size: 14px;
    margin-top: -6px;
    font-weight: bolder;
    color: $basecolor;
    cursor: pointer;
  }
  i {
    color: $basecolor;
    font-size: 23px;
    margin-top: -12px;
  }
}

.drag-handle {
  color: $darkbase;
  font-size: 20px !important;
  vertical-align: bottom !important;
  margin-right: 5px !important;
}
.drag-handle:hover {
  cursor: move;
}

.closed-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  .bubbles-cont {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    .closed-bubble {
      width: 10px;
      height: 10px;
      background-color: $basecolor;
      border-radius: 50%;
      margin-top: 5px;
      margin-left: 15px;
      -webkit-transition: all 0.2s ease;
      -moz-transition:all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
}
.closed-cont:hover {
  .bubbles-cont {
    .closed-bubble {
      width: 20px;
      height: 20px;
    }
    .closed-bubble:hover {
      cursor: pointer;
      width: 30px;
      height: 30px;
      top: 45px;
    }
  }
}


.heatmap-container {
  padding: 30px;
  .heatmap {
    position: relative;
    margin: auto;
    overflow: hidden;
    
    .heatmap-row {
      display: flex;
      .heatmap-col {
        flex-grow: 1;
      }
      .heatmap-col {
        position: relative;
        .heatmap-clustermarker {
          position: absolute;
          border-radius: 50%;
          //border: 1px solid black;
          background-color: black;
          z-index: 999999;
        }
      }
    }

    .heatmap-cluster-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999998;
      opacity: 0.22;
    }
  }
  .heatmap:hover {cursor: pointer;}
}



