<div class="container">

  <div class="col-xs-12 header-container">
    <div class="header-l1">Semavis</div>
    <div class="header-l2">Semantic Relevancy Visualisation</div>
  </div>

  <div class="col-sm-8 col-xs-12 pm0 pl0 content-container">
    <div class="section-header bb0">
      <div class="section-text">Text Content</div>
      <div class="section-button"><i class="fa fa-cogs" aria-hidden="true"></i> Generate</div>
    </div>
    <textarea class="text-edit bt0" ng-model="input.corpus" ng-if="textEditActive" plcaeholder="Enter your text content"></textarea>
    <div class="text-edit text-edit-highlight bt0" ng-if="!textEditActive">{{ input.corpus }}</div>
  </div>

  <div class="col-sm-4 col-xs-12 pm0 pr0 results-container">
    <div class="section-header">
      <div class="section-text">Heatmap</div>
    </div>
    <div class="section-header">
      <div class="section-text">Cluster Details</div>
    </div>
    <div class="section-header">
      <div class="section-text">Readability</div>
    </div>
  </div>

</div>
