<div class="container">

  <div class="col-xs-12 header-container">
    <div class="header-l1">Semavis</div>
    <div class="header-l2">Semantic Relevancy Visualisation</div>
      <img class="effect" src="images/fp.png" alt="Fingerprint">
  </div>

  <div class="col-sm-8 col-xs-12 pm0 pl0 content-container">
    <div class="section-header bb0">
      <div class="section-text">Text Content</div>
      <div class="section-button" ng-click="analyze()"><i class="fa fa-cogs" aria-hidden="true"></i> Analyse</div>
      <div class="section-button {{ textEditActive ? 'active' : '' }}" ng-click="toggleEdit(!textEditActive)">
        <i class="fa fa-pencil" aria-hidden="true"></i> {{ textEditActive ? 'Editing' : 'Edit' }}
      </div>
    </div>
    <textarea class="text-edit bt0" ng-model="input.corpus" ng-if="textEditActive" placeholder="Enter your content..."></textarea>
    <div class="text-edit text-edit-static text-edit-highlight bt0" ng-if="!textEditActive" ng-bind-html="input.corpusHtml"></div>
  </div>

  <div class="col-sm-4 col-xs-12 pr0 results-container">

    <div class="section-header bb0">
      <div class="section-text">Heatmap</div>
    </div>
    <div class="mock-box bt0"></div>


    <div class="section-header bb0">
      <div class="section-text">Cluster Details</div>
    </div>
    <div class="mock-box bt0"></div>


    <div class="section-header bb0">
      <div class="section-text">Readability</div>
    </div>
    <div class="mock-box bt0"></div>
  </div>

</div>
