<div class="container">
  <div class="row m0">

    <div class="col-xs-12 header-container">
      <div class="header-l1">Semavis</div>
      <!--<div class="header-l2">Semantic Relevancy Visualisation</div>-->
    </div>

    <ng-include src="'views/scale.html'"></ng-include>

    <div class="col-sm-{{ views.columnLocation }} col-xs-12 pm0 pl0 {{ views.columnLocation===12 ? 'pr0' : '' }} content-container {{ views.columnLocation===0 ? 'hidden' : '' }}" id="col-left">
      <div ng-repeat="section in columns.left" id="{{ section }}">
        <ng-include src="getTemplateName(section)"></ng-include>
      </div>
    </div>

    <div class="col-sm-{{ (12 - views.columnLocation) }} col-xs-12 pr0 {{ views.columnLocation===0 ? 'pl0' : '' }} results-container {{ views.columnLocation===12 ? 'hidden' : '' }}" id="col-right">
      <div ng-repeat="section in columns.right" id="{{ section }}">
        <ng-include src="getTemplateName(section)"></ng-include>
      </div>
      <!--
      <div id="heatmap"><ng-include class="movable" src="'views/section-heatmap.html'"></ng-include></div>
      <div id="readability"><ng-include src="'views/section-readability.html'"></ng-include></div>
      <div id="suggestions"><ng-include src="'views/section-suggestions.html'"></ng-include></div>
      <div id="relevant"><ng-include src="'views/section-relevant.html'"></ng-include></div>
      -->
    </div>

  </div>
</div>

<div class="section-cont" ng-if="views.viewMaximized">
  <div class="section-copy animated zoomIn">
    <ng-include src="'views/section-text.html'" ng-if="views.viewMaximized && isMaximized('text')"></ng-include>
    <ng-include src="'views/section-heatmap.html'" ng-if="views.viewMaximized && isMaximized('heatmap')"></ng-include>
    <ng-include src="'views/section-readability.html'" ng-if="views.viewMaximized && isMaximized('readability')"></ng-include>
    <ng-include src="'views/section-suggestions.html'" ng-if="views.viewMaximized && isMaximized('suggestions')"></ng-include>
    <ng-include src="'views/section-relevant.html'" ng-if="views.viewMaximized && isMaximized('relevant')"></ng-include>
  </div>
</div>

<div class="closed-cont">
  <div class="bubbles-cont">
    <div class="closed-bubble animated bounceIn" ng-if="isClosed('text')" ng-click="openCloseView('text')" data-toggle="tooltip" data-placement="right" data-animation="false" data-delay='{"show":150, "hide":0 }' title="Text"></div>
    <div class="closed-bubble animated bounceIn" ng-if="isClosed('heatmap')" ng-click="openCloseView('heatmap')" data-toggle="tooltip" data-placement="right" data-animation="false" data-delay='{"show":150, "hide":0 }' title="Heatmap"></div>
    <div class="closed-bubble animated bounceIn" ng-if="isClosed('readability')" ng-click="openCloseView('readability')" data-toggle="tooltip" data-placement="right" data-animation="false" data-delay='{"show":150, "hide":0 }' title="Readability"></div>
    <div class="closed-bubble animated bounceIn" ng-if="isClosed('suggestions')" ng-click="openCloseView('suggestions')" data-toggle="tooltip" data-placement="right" data-animation="false" data-delay='{"show":150, "hide":0 }' title="Keyword Suggestions"></div>
    <div class="closed-bubble animated bounceIn" ng-if="isClosed('relevant')" ng-click="openCloseView('relevant')" data-toggle="tooltip" data-placement="right" data-animation="false" data-delay='{"show":150, "hide":0 }' title="Relevant Keywords"></div>
  </div>
</div>
