<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==0"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=0" ng-click="setColumnLocation(0)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==1"></i>
  <!--<span class="markloc pull-left" ng-if="columnLocation!=1" ng-click="setColumnLocation(1)">|</span>-->
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==2"></i>
  <!--<span class="markloc pull-left" ng-if="columnLocation!=2" ng-click="setColumnLocation(2)">|</span>-->
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==3"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=3" ng-click="setColumnLocation(3)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==4"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=4" ng-click="setColumnLocation(4)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==5"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=5" ng-click="setColumnLocation(5)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==6"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=6" ng-click="setColumnLocation(6)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==7"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=7" ng-click="setColumnLocation(7)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==8"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=8" ng-click="setColumnLocation(8)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==9"></i>
  <span class="markloc pull-left" ng-if="columnLocation!=9" ng-click="setColumnLocation(9)">|</span>
</div>
<div class="col-xs-1 scale pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==10"></i>
  <!--<span class="markloc pull-left" ng-if="columnLocation!=10" ng-click="setColumnLocation(10)">|</span>-->
</div>
<div class="col-xs-1 scale last pm0 pl0 pr0">
  <i class="fa fa-caret-down pull-left" aria-hidden="true" ng-if="columnLocation==11"></i>
  <!--<span class="markloc pull-left" ng-if="columnLocation!=11" ng-click="setColumnLocation(11)">|</span>-->
  <i class="fa fa-caret-down pull-right" aria-hidden="true" ng-if="columnLocation==12"></i>
  <span class="markloc pull-right" ng-if="columnLocation!=12" ng-click="setColumnLocation(12)">|</span>
</div>
