<div class="section" ng-if="!isClosed('heatmap')">
  <div class="section-header clearfix {{ isMinimized('heatmap') ? '' : 'bb0' }}">
    <div class="section-text">
      <i class="fa fa-th drag-handle" aria-hidden="true"></i> Heatmap
    </div>
    <!-- close button -->
    <div class="section-button icon-only" data-toggle="tooltip" title="Close" ng-click="openCloseView('heatmap')"><i class="fa fa-times" aria-hidden="true"></i></div>
    <!-- maximize button -->
    <div class="section-button icon-only {{ isMaximized('heatmap') ? 'active' : '' }}" data-toggle="tooltip" title="{{ isMaximized('heatmap') ? 'Shrink' : 'Maximize' }}" ng-click="maximizeView('heatmap')"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
    <!-- minimize button -->
    <div class="section-button icon-only {{ isMinimized('heatmap') ? 'active' : '' }}" data-toggle="tooltip" title="{{ isMinimized('heatmap') ? 'Expand' : 'Minimize' }}" ng-click="minimizeView('heatmap')"><i class="fa fa-window-minimize" aria-hidden="true"></i></div>
  </div>
  <div class="keyword-box bt0" ng-if="!isMinimized('heatmap')">

    <div class="heatmap-container">
      <div class="heatmap" style="width: {{heatmapDimentions}}px !important; height: {{heatmapDimentions}}px;">

        <div class="heatmap-row" ng-repeat="hrow in output.heatmap track by $index">
          <div class="heatmap-col" ng-click="mapClicked(hcol, $parent.$index, $index)" ng-repeat="hcol in hrow track by $index" style="height: {{ heatmapDimentions / heatmapSize }}px; background-color: {{ getCellColor(hcol) }};"></div>
        </div>

        <div class="heatmap-cluster-layer">
          <div class="heatmap-row" ng-repeat="hrow in output.heatmap track by $index">
            <div class="heatmap-col" ng-click="mapClicked(hcol, $parent.$index, $index)" ng-repeat="hcol in hrow track by $index" style="height: {{ heatmapDimentions / heatmapSize }}px;">
              <div class="heatmap-clustermarker" ng-if="isClusterMarked($parent.$index, $index) ? 'marked' : ''" style="height: {{ (heatmapDimentions / heatmapSize) * clusterSize * 1.6 }}px; width: {{ (heatmapDimentions / heatmapSize) * clusterSize * 1.6 }}px; top: -{{ ((heatmapDimentions / heatmapSize) * clusterSize * 1.6) / 2 }}px; left: -{{ ((heatmapDimentions / heatmapSize) * clusterSize * 1.6) / 2 }}px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>